{% extends 'base.html' %}

{% block content %}
<h3>{% if object %}Update{% else%}Create {% endif %}Choice </h3>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save" name="submit">
</form>

{% endblock %}