{% extends 'base.html' %}
{% block content %}
<h3>Choice List</h3>

{% for object in object_list %}
<li>
    {{ object.choice_text }} - {{ object.votes }}
    <a href="{% url 'polls:choice-update' object.id %}">Update</a>
    <a href="{% url 'polls:choice-delete' object.id %}">Delete</a>
    <a href="{% url 'polls:vote-update' object.id %}">Vote</a>
</li>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}