{% extends 'base.html' %}

{% block content %}
{% load mypolls_extras %}
<h3>Polls List</h3>
<a href="{% url 'polls:poll-create' %}">Create New Poll</a>
<BR>
<form method="GET">
<label>Search</label>
<input name="search" id="search" type="text">
<button type="submit">Submit</button>
</form>
{% for data in object_list %}
<ul>
    <li>{{data.question_text}}</li>
    <a href="{% url 'polls:choice-create' data.id %}">Add Choice</a>
    <a href="{% url 'polls:choice-list' data.id %}">Choice List</a>
    <a href="{% url 'polls:poll-update' data.id %}">Edit</a>
    <a href="{% url 'polls:poll-delete' data.id %}">Delete</a>
</ul>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}