{% extends 'base.html' %}
{% block content %}
<form method = 'post'>
    {% csrf_token %}
    <p>Are you sure want to delete "<b>{{ object.question_text}}</b>"?</p>
    <input type="submit" value="Delete">
</form>
{% endblock %}